body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background: url(images/day.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* -------------- TOP BAR -------------- */

#inputs {
  height: 15vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.274);
}

#city-input {
  width: 20%;
  height: 5vh;
  font-size: x-large;
}

#submit-city {
  margin-top: 10px;
  width: 20%;
  height: 3vh;
  font-size: x-large;
  text-transform: uppercase;
  border-radius: 15px;
  border-color: #031c25;
  border-width: 2px;
  color: rgb(34, 32, 32);
  cursor: pointer;
}

/* -------------- MID SECTION -------------- */

#currentDay {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  align-items: center;
  height: 65vh;
  font-size: x-large;
  width: 15%;
}

#name {
}

#dayName {
}

/* -------------- BOTTOM SECTION -------------- */

#forecast {
  display: flex;
  justify-content: space-around;
  height: 20vh;
}

.forecast-day {
  display: flex;
  flex-direction: column;
  font-size: x-large;
  align-items: center;
}
